* {
margin: 0;
padding: 0;
box-sizing: border-box;    
}

@font-face {
    font-family: Italic-lich;
    src: url(../fonts/static/playfairdisplay-italic.ttf);
    font-weight: 400;
}
body {
    background-color: #000;
}
.layers {
    perspective: 1000px;
    overflow: hidden;
}
.layers__container {
    height: 100vh;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
}

.layers__item {
    position: absolute;
    top: -4vw;
    left: -7vw;
    right: -7vw;
    bottom: -4vw;
    background-size: cover;
    background-position: center;
}
.layer-1 {
    transform: translateZ(0);
}
.layer-2 {
    transform: translateZ(80px);
    margin-top: 6%;
    margin-left: 10%;
}.layer-3 {
    transform: translateZ(180px);
    pointer-events: none;
}
.header-line {
    margin: 0px 20px;
    display: flex;
    align-items: center;
}
.navigation {
    margin-left: 30px;
}
.navigation-item {
    color: #fff;
    margin-right: 20px;
}
.navigation-item:hover {
    color: darkred;
}

.navigation__button {
    margin-left: 38%;
    background-color: rgb(24, 196, 47);
    color: #000;
    border-radius: 10px;
    padding: 5px;
}
.online-counter {
display: flex;
margin: 10px;
}
.online-counter__text {
color: #fff;
margin-right: 10px;
}
.online-counter__count {
color: rgb(0, 228, 11);

}
.title__conteiner {
    color: #e67c7c;
    text-align: center;
    margin-top: 5%;
    margin-left: -100px;
    font-size: 45px;
    font-family: italic-lich;
}

.button-start {
    color: #000;
    background-color: coral;
    margin-left:43% ;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;

}
.deskription-main {
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
color: #ce5e5e;
}
.arrow-left__conteiner {
    margin-left: 3%;
    margin-top: -8%;
    background-color: #000;
    width: 100px;
}
.arrow-left {
    margin: 40px auto 10px auto;
    width: 38px;
    height: 100px;
}
.arrow-left span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #c52828;
    border-right: 5px solid #c52828;
    transform: rotate(45deg);
    margin: -16px 0;
    animation: arrow-left 2s infinite;
}
.arrow-left span:nth-child(2){
    animation-delay: -0.2s;
    margin-left: 25px;
    margin-top: -30px;
}
.arrow-left span:nth-child(3){
    animation-delay: -0.4s;
    margin-left: 50px;
    margin-top: -30px
}
@keyframes arrow-left {
    0%{
        opacity: 0;
        transform: translate(20px,0px) rotate(135deg);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(-20px,0px) rotate(135deg);
    }
}
.arrow-right__conteiner {
    margin-left: 82%;
    margin-top: -7%;
    width: 100px;
    background-color: #000;

}
.arrow-right {
    margin: 40px auto 10px auto;
    width: 38px;
    height: 100px;
}
.arrow-right span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #c52828;
    border-right: 5px solid #c52828;
    transform: rotate(45deg);
    margin: -16px 0;
    animation: arrow-right 2s infinite;
}
.arrow-right span:nth-child(2){
    animation-delay: 0.2s;
    margin-left: 25px;
    margin-top: -30px;
}
.arrow-right span:nth-child(3){
    animation-delay: 0.4s;
    margin-left: 50px;
    margin-top: -30px
}
@keyframes arrow-right {
    0%{
        opacity: 0;
        transform: translate(-20px,0px) rotate(-45deg);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(20px,0px) rotate(-45deg);
    }
}
.arrow-bottom__conteiner {
    margin: 44%;
    margin-top: 7%;
    width: 100px;
    background-color: #000;
}
.arrow-bottom {
    margin: 40px auto 10px auto;
    width: 38px;
    height: 100px;
}
.arrow-bottom span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #c52828;
    border-right: 5px solid #c52828;
    transform: rotate(45deg);
    margin: -12px 0;
    animation: arrow-bottom 2s infinite;
}
.arrow-bottom span:nth-child(2){
    animation-delay: 0.2s;
    margin-top: 12px;
}
.arrow-bottom span:nth-child(3){
    animation-delay: 0.4s;
    margin-top: 12px;
}
@keyframes arrow-bottom {
    0%{
        opacity: 0;
        transform: translate(0,-20px) rotate(45deg);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0,20px) rotate(45deg);
    }
}
.arrow-left__text {
}
.form {
    color: #fff;
}